# Count of Fequency Encoding

High cardinality

One Approach that is heavily use in kaggle comptitions ,is to replace each label of the categorical variable by the count, this is the amount of times each label apperas in the dataset. Or the frequency, this is the percentage of observations within that category. The 2 are eqiuvalent.

In [3]:
import pandas as pd 
import numpy as np

df= pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [27]:
df['X1'].unique()

array(['v', 't', 'w', 'b', 'r', 'l', 's', 'aa', 'c', 'a', 'e', 'h', 'z',
       'j', 'o', 'u', 'p', 'n', 'i', 'y', 'd', 'f', 'm', 'k', 'g', 'q',
       'ab'], dtype=object)

In [29]:
df['X1'].value_counts()

X1
aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
d       3
q       3
ab      3
Name: count, dtype: int64

In [31]:
df.shape

(4209, 2)

In [35]:
pd.get_dummies(df,).shape

(4209, 71)

In [41]:
len(df['X1'].unique())

27

In [45]:
len(df['X2'].unique())

44

In [59]:
# Lerts have a look at how many labels
for col in df.columns:
    print(col,'has',len(df[col].unique()),'labels')

X1 has 27 labels
X2 has 44 labels

In [65]:
# obtaining all the count of the labels in X1 and converting it to a disctionary
df_X1=df.X1.value_counts().to_dict()

In [67]:
df_X2=df.X2.value_counts().to_dict()

In [69]:
df.X1=df.X1.map(df_X1)

In [71]:
df.head()

    X1  X2
0  408  at
1   31  av
2   52   n
3   31   n
4  408   n

# Advantages: -
1) It is very simple to implement
2) do not have to create extra dimentional space

# Disadvantages
1) It two labels have the same count then both the labels will be replaced with the same frequency and ve will looose some valuable information
2) Add somewhat arbitary numbers and therefore weights to the different labels that may not be related to their predictive power