# Ordinal Numbering encoding or label encoding

Ordinal Categorical Variables

Ordinal data is a categorical, statistical sata type where the variables have natural, ordered categories and the distances between the categories is not known

In [6]:
import pandas as pd
import numpy as np
import datetime

In [10]:
df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0,20)]
df= pd.DataFrame(df_date_list)
df.columns= ['day']
df.head()

                         day
0 2024-09-29 14:13:31.329149
1 2024-09-28 14:13:31.329149
2 2024-09-27 14:13:31.329149
3 2024-09-26 14:13:31.329149
4 2024-09-25 14:13:31.329149

In [16]:
## Extract the week day name

df['Day_of_week'] = df['day'].dt.day_name()
df.head()

                         day Day_of_week
0 2024-09-29 14:13:31.329149      Sunday
1 2024-09-28 14:13:31.329149    Saturday
2 2024-09-27 14:13:31.329149      Friday
3 2024-09-26 14:13:31.329149    Thursday
4 2024-09-25 14:13:31.329149   Wednesday

In [22]:
# Engineer Categorical Varialbe by ordinal number replacement
weekday_map={
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7
}
df['day_ordinal']=df.Day_of_week.map(weekday_map)
df.head()

                         day Day_of_week  day_ordinal
0 2024-09-29 14:13:31.329149      Sunday            7
1 2024-09-28 14:13:31.329149    Saturday            6
2 2024-09-27 14:13:31.329149      Friday            5
3 2024-09-26 14:13:31.329149    Thursday            4
4 2024-09-25 14:13:31.329149   Wednesday            3